.homepage{
	background:white;
}
.robot{
	font-family: 'Roboto', sans-serif !important;
}
.clickablee{
	cursor: pointer;
}
.twitter-typeahead{
	width:100%;           
}

.appsdiv{
	height:100%;
	padding-bottom:50px;
	overflow:auto;
}
.logoutdiv{
	z-index:1000;
	height:100%;
	transition: 0.1s;
	-moz-transition: 0.1s;
	-ms-transition: 0.1s;
	-o-transition: 0.1s;
	-webkit-transition: 0.1s;
	cursor:pointer;
}
.logoutdiv:hover{
	background:#D50000;
}
.backgreen{
	
}
input{
	background:transparent;
}
.appzoom{
	font-family: 'Roboto', sans-serif !important;
	font-size:20px;
	transition: 0.1s;
	-moz-transition: 0.1s;
	-ms-transition: 0.1s;
	-o-transition: 0.1s;
	-webkit-transition: 0.1s;
	cursor:pointer;
	height:40px;
	padding: 10px;
	margin:0;
}

.appzoom:hover{
	padding:9px;
	font-size:22px;
	box-shadow: 2px 2px 2px 2px #888888;
}
.typeahead, .tt-query, .tt-hint {
	border: 2px solid #CCCCCC;
	font-size: 24px;
	height: 30px;
	line-height: 30px;
	outline: medium none;
	padding: 8px 12px;
	width:100%;
}
.typeahead {
	text-align: center;
	background-color: inherit !important;  
}
        
.tt-query {
	backgroud-color: #fff !important;
            
}
.tt-hint {
	color: #999999;
            
}
.tt-dropdown-menu {
	background-color: inherit !important;  
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 12px;
	padding: 8px 0;
	width:100%;
	z-index:10000!important;
	display:visible!important;
            

}
.dropdown-menu {
            
}
.tt-suggestion {
	font-size: 24px;
	line-height: 24px;
	padding: 3px 20px;
            
}
.tt-suggestion.tt-is-under-cursor {
	background-color: #0097CF;
	color: #FFFFFF;
            
}
.tt-suggestion p {
            
}

#lowerframe body {
    overflow-x:hidden !important;
}

.Absolute-Center {
	position: relative;
	top: 30%;
	height:40%;
}
.Absolute-Center1 {
	position: relative;
	top: 20%;
	height:60%;
}